<!DOCTYPE html>
<html lang="ko">
<head>
    <title>스프링 부트 웹서비스</title>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html">
</head>
<body>
    <h1>스프링 부트로 시작하는 웹 서비스</h1>
</body>
</html>